[Desktop Entry]
Type=Link
Name=sBitx
Icon=/home/pi/sbitx/sbitx_icon.png
URL=/home/pi/.local/share/applications/alacarte-made-2.desktop
Exec=/home/pi/sbitx/sbitx
Terminal=false
StartupNotify=false
Type=Application
